body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 7, 96);
}

p{
    color: #ff0000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.subject {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    select, button {
        font-size: 14px;
        padding: 8px;
    }

    label, h1, h2 {
        font-size: 18px;
    }
}